.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(45deg, #FFD700, #0074D9);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.custom-datepicker {
  font-size: 18px; /* Adjust the font size to your preference */
  background-image: linear-gradient(to right, #FFD700, #0074D9); /* Gradient from #FFD700 to #0074D9 */
  color: black; /* Text color */
  border-radius: 5px; /* Add border-radius for rounded corners */
  padding: 8px 12px; /* Add padding for better appearance */
}
